a:hover {
	color: #590696;
}
body {
	background: #FFF;
}
h1.site-title a, 
p.site-title a, 
p.site-description {
	color: #030303;
}
.header-area {
	border-bottom: 0px solid #ddd;
	background-color: #FFF;
	padding: 10px 0px;
}
.site-title a {
	font-size: 25px;
}
.mainmenu-area {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding-top: 18px;
	background-color: #fff;
	box-shadow: 5px 0 10px rgba(5, 5, 6, 0.08);
}
.site-title {
	margin-bottom: 0px;
}
.mainmenu li a {
	padding-top: 0px;
}
.mainmenu .menu-item-has-children::after {
	font-family: FontAwesome;
	content: "\f107";
	font-size: 1em;
	text-shadow: none;
	opacity: .8;
	position: absolute;
	top: 2px;
	right: .2rem;
}
.mainmenu li:hover a, 
.mainmenu li.active a {
	transition: 0.5s;
	color: #2C3EC1;
}
.mainmenu ul li ul li {
	width: 150px;
	padding-top: 10px;
}
.mainmenu ul li ul {
	width: 150px;
	border-top: 0px solid #ddd;
}
ul.children {
	padding-left: 0px;
}
.mainmenu ul li ul li ul{
  left:30px;
}
.mainmenu ul li:hover ul li ul{
  opacity: 0;
  visibility: hidden;
}
.mainmenu ul li:hover > ul li:hover > ul{
  left: 30px;
  opacity: 1;
  visibility: visible;
}
.mainmenu ul li:hover > ul li:hover > ul li:hover > ul{
  left: auto;
  right: 30px;
}
.slicknav_icon span.slicknav_icon-bar {
	background: #000;
}
article.post, 
article.page {
	margin-bottom: 0px;
	padding: 0px;
	background-color: #fff;
	border-radius: 0px;
}
.blog-item {
	margin-bottom: 50px;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
	border: 1px solid #f4f4f4;
	border-radius: 15px;
}
.blog-item .blog-img {
	margin-bottom: 32px !important;
}
.blog-item .blog-img {
	position: relative;
	border-radius: 0px;
	z-index: 0;
}
.blog-item .blog-img a {
	z-index: 11;
	position: relative;
}
.blog-item .blog-img a img {
	border-radius: 15px 15px 0 0;
}
.blog-item .full-blog-content {
	padding: 0 46px 45px;
	overflow: hidden;
}
.blog-item .full-blog-content .btm-cate {
	margin: 0 0 10px;
}
.btm-cate {
	overflow: hidden;
	list-style: none;
	margin: 0 0 5px;
	padding: 0;
	position: relative;
	font-size: 14px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.btm-cate li {
	float: left;
	margin-right: 10px;
}
.blog-item .blog-meta .blog-date {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
}
.blog-date a {
	padding: 0;
	color: #727377;
	margin-right: 0;
	line-height: normal;
	padding: 1px;
	text-decoration: none;
}
.blog-date a:hover {
	color: #590696;
}
.blog-title a {
	color: #2c163c;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 25px;
	margin: 4px 0 14px;
}
.blog-title a:hover {
	color: #590696;
}
.blog-item .blog-desc {
	clear: both;
}
.blog-item .blog-button {
	display: block;
	margin-top: 20px;
}
.full-blog-content .blog-button {
	float: left;
}
.blog-item .blog-button a {
	text-align: center;
	display: inline-block;
	color: #444;
	padding-right: 25px;
	position: relative;
	z-index: 1;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}
.blog-item .blog-button a:hover {
	color: #590696;
}
.nav-links a {
	color: #55575c;
	background-color: transparent;
	border: 1px solid;
}
.nav-links a:hover, 
.page-links a:hover {
	color: #590696;
	transition: 0.5s;
	border-color: #590696;
	background-color: #fff;
}
.widget {
	background: #fff;
	padding: 40px 30px 40px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.03);
	border-radius: 15px;
	border: 1px solid #f4f4f4;
	text-align: left;
}
.widget a:hover {
	color: #590696;
}
.single-area article.post {
	border: 1px solid #ddd;
	margin-bottom: 50px;
}
.single-content {
	padding: 30px;
}
.footer-area {
	background-color: #fff;
	margin-top: 30px;
	border: 1px solid #ddd;
}
.footer-meta a {
	text-decoration: none;
	color: #727377;
	margin-right: 10px;
}
.footer-meta a:hover {
	transition: 0.5s;
	color: #590696;
}
.entry-title a, 
.entry-footer span a, 
.entry-meta a {
	color: #727377;
	text-decoration: none;
}
.entry-title a:hover, 
.entry-footer span a:hover, 
.entry-meta a:hover {
	color: #590696;
	text-decoration: none;
}
.comment-form input[type="submit"]:hover {
	background: #590696;
}
a.button {
	text-decoration: none;
	border: 1px solid #590696;
	padding: 10px 15px;
	display: inline-block;
	margin-top: 30px;
	border-radius: 5px;
	color: #590696;
	transition: 0.5s;
}
a.button:hover {
	color: #fff;
	background-color:#590696;
	transition: 0.5s;
	text-decoration: none;
}
/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.slicknav_btn {
		left: 47%;
		top: 0px;
	}
	.slicknav_menu {
		margin-top: -10px;
	}
}
/* Wide Mobile Layout */
@media (min-width: 481px) and (max-width: 767px) { 
	.slicknav_btn {
		left: 45%;
		top: 0px;
	}
	.slicknav_menu {
		margin-top: -10px;
	}
	.meta .excerpt {
		display: none;
	}
	.title-wrap h3 a {
		font-size: 16px;
	}
}
/* Mobile Layout*/
@media (min-width: 320px) and (max-width: 480px) {
	.slicknav_btn {
		left: 45%;
		top: 0px;
	}
	.slicknav_menu {
		margin-top: -10px;
	}
	.meta .excerpt {
		display: none;
	}
	.title-wrap h3 a {
		font-size: 15px;
		padding-top: 0px;
	}
}